@charset "UTF-8";

/* Import Foundation */
@import
  "foundation/settings",
  "foundation";

$globalspacing: rem-calc(10);
$lightgrey:    rgba(202,202,202,1);
$mediumgrey:   rgba(165,165,165,1);

@mixin noselect() {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none; 
}

html, body {
  background-color: $body-bg;
  height: 100%;
}

section{
  margin: 60px 0;
}


/* animation on text switch */
span.my-thing{
    display: inline-block;
    color: darken($mediumgrey, 15%);
//    text-decoration:underline;
//    transition: background-color 2s linear 2s;
//    &[class*="-add"] {
//        background-color: yellow;
//    }
}

/* animation on tech switch */
span.my-tech{
    display: inline-block;
    color: darken($mediumgrey, 15%);
//    text-decoration:underline;

    
//    transition: background-color 2s linear 2s;
//    &[class*="-add"] {
//        background-color: yellow;
//    }
}
div.project {
  padding: ($globalspacing*2);
  
}

#project-intro {
  padding-top: ($globalspacing *2);
}

#project-desc {
  padding-top: $globalspacing;
  padding-bottom: $globalspacing;
  a {
    padding: 0;
    color: $black;
    text-decoration: underline;
  }
}

#team {
  ul {
   list-style-type: none;
   margin-left: 0;
   
   li {
     padding: ($globalspacing / 4);
     border-top: 1px solid $mediumgrey;
     &:last-of-type {
       border-bottom: 1px solid $mediumgrey;
     }
     a {
       color: $black;
       padding: 0;
       text-decoration: none;       
     }
   }
   
   li span{
     color: darken( $mediumgrey, 15% );
   }
  }
}
#contact {
  ul.inline-list li {
    margin-left: 0;
    margin-right: $globalspacing;
    a {
      text-decoration: none;
    }
  }

}
//span.techstack {
//  color: darken( $mediumgrey, 15% );
//}
