@charset "UTF-8";

/* Import Foundation */
@import
  "foundation/settings",
  "foundation";


#me-intro {
 padding: 2px;
}

section{
  margin: 60px 0;
}

a, span{
  text-decoration:underline;
}
/* text switch */
span.my-thing{
    display: inline-block;
    text-decoration:underline;
}

/* tech switch */
span.my-tech{
    display: inline-block;
    text-decoration:underline;
}
