@charset "UTF-8";

/* Import Foundation */
@import
  "foundation/settings",
  "foundation";

$globalspacing: rem-calc(10);
$lightgrey:    rgba(202,202,202,1);
$mediumgrey:   rgba(165,165,165,1);

@mixin noselect() {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none; 
}

html, body {
  background-color: $body-bg;
  height: 100%;
}

.row{
  &.full-width{
    max-width: 100% !important;
    background-color: $lightgrey;
  }
}

article {
  @media #{$medium-up} {
    margin-bottom: $globalspacing * 10 !important;
  }
}

.cta {
  @media #{$medium-up} {
    margin-bottom: $globalspacing * 10 !important;
  }
}

#me-intro {
  h1 {
    font-size: $h2-font-size;
    padding-top: $globalspacing * 2;
  }
}

#reasons {
  padding-top: $globalspacing * 2;
  a {
    text-decoration: underline;
  }
}

/* animation on text switch */
span.my-thing{
    display: inline-block;
    color: darken($mediumgrey, 15%);
//    text-decoration:underline;
//    transition: background-color 2s linear 2s;
//    &[class*="-add"] {
//        background-color: yellow;
//    }
}

/* animation on tech switch */
span.my-tech{
    display: inline-block;
    color: darken($mediumgrey, 15%);
//    text-decoration:underline;

    
//    transition: background-color 2s linear 2s;
//    &[class*="-add"] {
//        background-color: yellow;
//    }
}
div.project {
  
}

.project {
  h1 {
    padding-top: $globalspacing * 1.5;
    padding-bottom: $globalspacing;
  }
}

.recent {
  padding-top: $globalspacing * 4;
  padding-bottom: $globalspacing;
}

#project-intro {
}

#project-desc {

  a {
    padding: 0;
    color: $black;
    text-decoration: underline;
  }
  h1 {
    padding-top: $globalspacing;    
  }
}

#team {
  ul {
   list-style-type: none;
   margin-left: 0;
   
   li {
     padding: ($globalspacing / 4);
     border-top: 1px solid $mediumgrey;
     &:last-of-type {
       border-bottom: 1px solid $mediumgrey;
     }     
   }
   
   li span{
     color: darken( $mediumgrey, 15% );
   }
  }
  a {
    color: $black;
    padding: 0;
    text-decoration: none;       
  }
}
#contact {
  ul.inline-list li {
    margin-left: 0;
    margin-right: $globalspacing;
    a {
      text-decoration: none;
    }
  }

}
//span.techstack {
//  color: darken( $mediumgrey, 15% );
//}
