/* line 1, ../scss/app.scss */
html, body {
  margin: 0;
  padding: 0;
  background: #ebebeb;
}

/* line 6, ../scss/app.scss */
body, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 9, ../scss/app.scss */
h1 {
  padding-top: 50px;
}

/* line 12, ../scss/app.scss */
img {
  max-width: 100%;
}

/* line 15, ../scss/app.scss */
nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}

/* line 24, ../scss/app.scss */
nav li, nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 30, ../scss/app.scss */
nav li, nav a {
  display: inline-block;
}

/* line 33, ../scss/app.scss */
nav a {
  padding: 20px;
  color: #333;
  text-decoration: none;
}

/* line 38, ../scss/app.scss */
a:hover {
  background: #fff;
}

/* line 41, ../scss/app.scss */
a.active {
  background: #00AC7F;
  color: #fff;
}

/* line 45, ../scss/app.scss */
.wrap {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
}

/* line 51, ../scss/app.scss */
section {
  padding: 50px 0 30px 0;
}

/* line 54, ../scss/app.scss */
footer {
  text-align: center;
}

/* line 57, ../scss/app.scss */
button {
  font-size: 18px;
  border: 0;
  padding: 15px 30px;
  background: #00AC7F;
  color: #fff;
  cursor: pointer;
}
