<!doctype html>
<!--build:[manifest] trangnguyen.manifest-->
	<html xmlns="http://www.w3.org/1999/html">
<!--/build-->
		<head>
		  <meta charset="utf-8">
			<meta name="viewport" id="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
		  <title>Trang Nguyen</title>
		  <meta name="description" content="Trang Nguyen web development’s portfolio" />
		  <meta name="author" content="Design by Berliner Süden. Development by  Trang Nguyen" />
		  <meta name="keywords" content="mobile app development, web development, web app development, berlin, germany, javascript, angular, node, mongo, requirejs, html5" />

		  <!-- Load filson pro fonts -->
		  <script src="//use.typekit.net/ghc4jmy.js"></script>
		  <script>try{Typekit.load();}catch(e){}</script>

      <!-- build:css css/trangnguyen.css-->
        <link rel="stylesheet" href="css/app.css">
      <!-- /build -->

      <!--favicon-->
      <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png" />
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
      <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png" />
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png" />
      <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png" />
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png" />
      <link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196" />
      <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
      <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
      <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16" />
      <link rel="icon" type="image/png" href="images/favicon/favicon-128.png" sizes="128x128" />
      <meta name="application-name" content="Trang Nguyen"/>
      <meta name="msapplication-TileColor" content="#FFFFFF" />
      <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png" />
      <meta name="msapplication-square70x70logo" content="images/favicon/mstile-70x70.png" />
      <meta name="msapplication-square150x150logo" content="images/favicon/mstile-150x150.png" />
      <meta name="msapplication-wide310x150logo" content="images/favicon/mstile-310x150.png" />
      <meta name="msapplication-square310x310logo" content="images/favicon/mstile-310x310.png" />

		</head>
		<body ng-app="trangApp" ng-controller="AppController">

		<section class="row" id="me-intro">

		  <div class="small-12 columns text-center logo" ng-class="{'menuOpen':menuOpen}">
		    <h1><a ng-click="menuOpen =!menuOpen">Trang Nguyen</a></h1>
		  </div>

      <div id="mainNav" class="small-12 columns text-center" ng-show="menuOpen">
        <ul>
          <li><a class="more" href="#me-intro" du-smooth-scroll du-scrollspy duration="500" ng-click="menuOpen =!menuOpen" >Home</a></li>
          <li><a class="more" href="#about" du-smooth-scroll du-scrollspy duration="500" ng-click="menuOpen =!menuOpen">About</a></li>
          <li><a class="more" href="#work" du-smooth-scroll du-scrollspy duration="500" ng-click="menuOpen =!menuOpen">Work</a></li>
          <li><a class="more" href="#contact" du-smooth-scroll du-scrollspy duration="500" ng-click="menuOpen =!menuOpen">Contact</a></li>
        </ul>
      </div>

		  <div class="small-12 columns">
		    <div class="motto-container">
		      <h1 class="motto">Hi, my name is Trang Nguyen. <br class="show-for-large-up">I build <span class="my-thing value-{{thing}}">{{thing}}</span> apps with <span class="my-tech value-{{tech}}">{{tech}}</span></h1>
		    </div>
		  </div>


      <div id="about" class="small-12 columns" >

				<h3>My expertise</h3>
				<div id="expertise">
	        <ul>
	          <li ng-repeat="obj in expertise">
	             <span class="highlighter">{{obj.category}}<span> {{obj.tech}}
	          </li>
	        </ul>
				</div>

        <ul id="reasons" class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 end">
          <li ng-repeat="reason in reasons">
            <h5>{{reason.head}}</h5>
            <p compile="reason.description"></p>
          </li>
        </ul>
      </div>
    </section>

    <section id="work">
      <div class="row text-center">
        <h1 class="small-12 large-12 columns"> Recent works</h1>
      </div>
      <article class="row project" ng-repeat="project in projects" id="{{project.id}}">
        <div class="small-12 columns" >
          <img ng-src="{{project.image}}">
          <h2>{{project.title}}</h2>
        </div>

        <div id="project-desc" class="small-12 medium-6 columns">
          <p>{{project.intro}}</p>
          <p>{{project.process}}</p>
        </div>

        <div id="team" class="small-12 medium-6 columns end">
					<p>Team</p>
          <ul>
            <li ng-repeat="member in project.team">
              <a target="_blank" href="{{member.link}}">{{member.name}} </a><span compile="member.role"></span>
            </li>
          </ul>
          <p>Built with: <span class="techstack">{{project.techstack}}</span></p>
          <p><a class="highlighter" target="_blank" href="{{project.link}}">See it online</a></p>
        </div>

      </article>

    </section>

    <img id="contact" src="images/trang-banner.jpg">

    <section class="row text-center cta">
      <h1 class="small-12 columns">Thanks for stopping by.<br>
				I’m looking for new projects.<br>
       Get in touch!</h1>
      <div class="small-6 medium-3 columns"><a target="_blank" href="mailto:trang@trangnguyen.de"><img src="fonts/icons/mail.svg"/>Email</a></div>
      <div class="small-6 medium-3 columns"><a target="_blank" href="skype://trangnguyen80?chat"><img src="fonts/icons/chat.svg"/>Skype</a></div>
      <div class="small-6 medium-3 columns"><a target="_blank" href="https://github.com/TrangNguyen"><img src="fonts/icons/git.svg"/>GitHub</a></div>
      <div class="small-6 medium-3 columns"><a target="_blank" href="https://de.linkedin.com/in/trangnguyenDE"><img src="fonts/icons/profile.svg"/>LinkedIn</a></div>
    </section>

    <!-- Footer -->
    <footer id="footer" class="row text-center">
      <div class="small-12 columns">
        &copy; 2015 Trang Nguyen | All rights reserved
      </div>
    </footer>
		<!-- build:js main.js -->
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-scroll/angular-scroll.min.js"></script>

		<script src="modules/main.js "></script>
		<!-- /build -->
		</body>
	</html>
