<section id="about-me">
  <p>OK, that's a lot of gibberish programming buzzwords. But why exactly should you consider me for your next project?</p>
  <h3>I'm a self-taught programmer</h3>
  <p>I'm an autodidact developer and a cross-disciplinarian, having graduated in film editing, I make films, especially photofilms and installations. I was looking for a technological solution to my video installation work, that's when I got introduced to NodeJS, MongoDB and I fell in love. Then came AngularJS and I made myself a full-stack developer.</p>
  <h3>I'm a doer</h3>
  <p>Whatever I set myself into, I've excelled at it, whether it's making exquisite meals or knitting a motherboard pattern. I take great pride in translating challenging design concepts into shipping applications and find incredible reward seeing the result of my hours of hard work online.</p>
  <h3>I'm a perfectionist</h3>
  <p>I love planning, I do extensive research and prototype everything, that's go for coding as much as for filmmaking. A project is not finished until I have seen the result, had a wrap-up with involved parties and drawn lessons for the next.</p>
  <h3>And what more, I love challenge. So if you have one, let's talk about it.</h3>
</section>